{% extends 'base.jinja' %}

{% block content %}
<form action="/register" method="post" class="form">
  <fieldset>
  <legend>register.</legend>
  <div class="name-form">
    <label for="name">name: </label>:
    <input type="text" name="name" id="name" required />
  </div>
  <div class="email-form">
    <label for="email">email: </label>
    <input type="text" name="email" id="email" required />
  </div>
  <div class="password-form">
    <label for="password">secure password: </label>
    <input type="password" name="password" id="password" required />
  <div>  
  <div class="submit-form">
    <input type="submit" value="Register" />
  </div>
  </fieldset>
</form>
{% endblock %}
